
  /* Create three equal columns */
  nav {
    border: 5px;
    border-style: solid;
    border-color: red;
    font-size: 30px;
  }
  
.row{
    display: flex;
}

  .left {
    float: left;
    width: 20%;
    padding: 0px;
    text-align: center;
    border: 5px;
    border-style: solid;
    border-color: green;
  }

  .center {
    float: left;
    width: 60%;
    padding: 0px;
    text-align: center;
    border: 5px;
    border-style: solid;
    border-color: blue;

  }

  .right {
    float: left;
    width: 20%;
    padding: 0px;
    text-align: center;
    border: 5px;
    border-style: solid;
    border-color: yellow;

  }

  

  