
  /* Create three equal columns */
  body{
    background-color: #C9FFE2;
  }
  
  nav {
    border: 5px;
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    padding: 40px;
    background-color: #7dd181;
  }
  
.row{
    display: flex;

}

  .left {
    float: left;
    width: 20%;
    padding: 0px;
    text-align: center;
    border: 5px;
    
  }

  .kitten{
    flex-direction: row;
    order: 5;
    border: 10%;
    padding: 5%;
    margin-bottom: 5px ;
    margin-top: 5px ;

  }
  .kitten img{
    float: left;
    width: 50px;
    display: flex;
    
  }


  .kitten p{
    float: center;
  }

  .center {
    float: left;
    width: 60%;
    padding: 10px;
    text-align: center;
    border: 5px;
    

  }

  .right {
    float: left;
    width: 20%;
    padding: 40px;
    text-align: center;
    border: 5px;
    flex-direction: row;

  }
  .image_space{
    margin-top: 40px;
  }

  .para {
    float: left;
    text-align: justify;
    padding: 10px;
    background-color: #96E8BC;
  }
  .para1{
    float: left;
    text-align: justify;
    padding: 10px;
    margin-top: 10px;
    background-color: #96E8BC;
  }
  

  